@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #007bff;
    --cor-hover: #272727;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

/* Reset de Estilos Padrão */
body,
h1,
h2,
h3,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

body {
    width: auto;
    height: auto;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fonte-primaria);

    background-color: #f5f5f5;
    color: var(--cor-primaria);
}

/* Estilos do Cabeçalho */
.cabecalho {
    display: flex;
    justify-content: first baseline;
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    padding: 15px 0;
    text-align: center;
}

.logo {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 2em;
    margin-top: 10px;
    padding-left: 40%;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.input-section,
.output-section {
    flex: 1; /* Distribui o espaço disponível igualmente entre as seções */
}

/* Estilos da Seção de Entrada */
.input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-input {
    width: 100%;
    max-width: 400px;
    margin: 20px 0;
    padding: 10px;
    font-size: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos da Seção de Botões */
.button-section {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.btn-criptografar,
.btn-descriptografar {
    padding: 10px 20px;
    font-size: 1.2em;
    margin: 0 10px;
    cursor: pointer;
    background-color: #28a745;
    color: var(--cor-secundaria);
    border: none;
    border-radius: 5px;
}

/* Estilos da Seção de Saída */
.output-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

#div-aparecer {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-mensagem {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-copiar {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    border: none;
    border-radius: 5px;
}

/* Estilos do Rodapé */
.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
}

.rodape p {
    margin-bottom: 12px;
}

.rodape a {
    text-decoration: none;
    color: var(--cor-hover);
}

/* Responsividade */
@media (max-width: 1200px) {
  .cabecalho {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
  }

  .logo {
    height: 50px;
    width: 70px;
  }

  h1 {
    font-size: 1rem;
    margin-top: 10px;
  }

  .container {
    display: flex;
    flex-direction: column;
    padding: 20px; /* Alterado de 20% para 20px */
    height: 700px;
    width: auto;
  }

  .text-input {
    width: 330px;
  }

  .output-section {
    width: 330px;
    margin-left: 30px; /* Alterado de 120px para 0 */
  }

  .rodape {
    margin-bottom: 0;
    padding: 24px;
  }
}